In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # this is used for the plot the graph 

%matplotlib inline

import random 
random.seed(42)

In [2]:
csv_path = "training_dataset.csv"

# 0. First, let's understand our data...

In [3]:
df = pd.read_csv(csv_path) # load the pandas dataframe
df = df.rename(columns={"Unnamed: 0": "TODO_FIND_COLUMN_NAME_1", "Unnamed: 0.1": "TODO_FIND_COLUMN_NAME_2"})
df.head()

,TODO_FIND_COLUMN_NAME_1,TODO_FIND_COLUMN_NAME_2,dt,weekday,year,id_driver,id_carrier_number,dim_carrier_type,dim_carrier_company_name,home_base_city,...,marketplace_loads,brokerage_loads_otr,brokerage_loads_atlas,brokerage_loads,total_loads,date,period,recent_date,test,label
0,0,19722,2018-08-23,4,2018,13577,C0092604,Fleet,US HONG CORP,City of Industry,...,0,2,0,2,2,2018-08-23,1,2018-08-27,20180827,0
1,1,16677,2018-05-11,5,2018,7066,C0090412,Fleet,Carlos Flores,Los Angeles,...,134,186,0,186,320,2018-05-11,2,2019-09-05,20190905,0
2,2,31013,2019-03-23,6,2019,16776,C0093729,Fleet,AZIEL INC,Ontario,...,11,97,0,97,108,2019-03-23,2,2019-10-17,20191017,0
3,3,35303,2019-07-03,3,2019,11085,U0099848,Owner Operator,Expert Carriers,Long Beach,...,15,179,0,179,194,2019-07-03,1,2019-12-28,20191228,0
4,4,70021,2020-11-07,6,2020,14644,U0102863,Owner Operator,Edgar & daughters,South El Monte,...,296,0,8,8,304,2020-11-07,2,2021-02-17,20210217,0

In [4]:
df.describe()

,TODO_FIND_COLUMN_NAME_1,TODO_FIND_COLUMN_NAME_2,weekday,year,id_driver,num_trucks,days_signup_to_approval,loads,marketplace_loads_otr,marketplace_loads_atlas,marketplace_loads,brokerage_loads_otr,brokerage_loads_atlas,brokerage_loads,total_loads,period,test,label
count,83414.000000,83414.000000,83414.000000,83414.000000,83414.000000,83344.000000,71128.000000,83414.000000,83414.000000,83414.000000,83414.000000,83414.000000,83414.000000,83414.000000,83414.000000,83414.000000,8.341400e+04,83414.000000
mean,41706.500000,42205.887129,3.499149,2018.960906,18221.333098,22.588153,298.818229,2.073980,29.545844,71.541156,101.087000,148.117606,13.046407,161.164013,266.368499,1.308330,2.019781e+07,0.112751
std,24079.692014,24358.451235,1.688132,1.359378,11666.420279,48.840757,390.379696,2.661652,88.415228,194.473946,214.547898,415.015279,42.172475,412.831763,447.964420,0.461806,1.353858e+04,0.316290
min,0.000000,0.000000,1.000000,2015.000000,20.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.015103e+07,0.000000
25%,20853.250000,21121.250000,2.000000,2018.000000,7898.500000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,37.000000,1.000000,2.019072e+07,0.000000
50%,41706.500000,42211.500000,3.000000,2019.000000,16299.000000,4.000000,62.000000,1.000000,2.000000,0.000000,13.000000,15.000000,0.000000,37.000000,110.000000,1.000000,2.020083e+07,0.000000
75%,62559.750000,63289.750000,5.000000,2020.000000,28974.000000,14.000000,497.000000,2.000000,23.000000,18.000000,94.000000,112.000000,1.000000,135.000000,325.000000,2.000000,2.021021e+07,0.000000
max,83413.000000,84413.000000,7.000000,2021.000000,38125.000000,195.000000,1653.000000,129.000000,902.000000,1324.000000,1348.000000,4266.000000,371.000000,4266.000000,4266.000000,2.000000,2.021022e+07,1.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83414 entries, 0 to 83413
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TODO_FIND_COLUMN_NAME_1   83414 non-null  int64
 1   TODO_FIND_COLUMN_NAME_2   83414 non-null  int64
 2   dt                        83414 non-null  object
 3   weekday                   83414 non-null  int64
 4   year                      83414 non-null  int64
 5   id_driver                 83414 non-null  int64
 6   id_carrier_number         83414 non-null  object
 7   dim_carrier_type          83414 non-null  object
 8   dim_carrier_company_name  83367 non-null  object
 9   home_base_city            83370 non-null  object
 10  home_base_state           83370 non-null  object
 11  carrier_trucks            83414 non-null  object
 12  num_trucks                83344 non-null  float64
 13  interested_in_drayage     83414 non-null  object
 14  port_qualified            83414 non-null  object
 15  signup_source             83414 non-null  object
 16  ts_signup                 83414 non-null  object
 17  ts_first_approved         71128 non-null  object
 18  days_signup_to_approval   71128 non-null  float64
 19  driver_with_twic          83414 non-null  object
 20  dim_preferred_lanes       3413 non-null   object
 21  first_load_date           83414 non-null  object
 22  most_recent_load_date     83414 non-null  object
 23  load_day                  83414 non-null  object
 24  loads                     83414 non-null  int64
 25  marketplace_loads_otr     83414 non-null  int64
 26  marketplace_loads_atlas   83414 non-null  int64
 27  marketplace_loads         83414 non-null  int64
 28  brokerage_loads_otr       83414 non-null  int64
 29  brokerage_loads_atlas     83414 non-null  int64
 30  brokerage_loads           83414 non-null  int64
 31  total_loads               83414 non-null  int64
 32  date                      83414 non-null  object
 33  period                    83414 non-null  int64
 34  recent_date               83414 non-null  object
 35  test                      83414 non-null  int64
 36  label                     83414 non-null  int64
dtypes: float64(2), int64(16), object(19)
memory usage: 23.5+ MB

# 1. Generate Labels

In [6]:
df['most_recent_load_date'] = pd.to_datetime(df['most_recent_load_date'], format='%Y-%m-%d')

In [7]:
df['most_recent_load_date'].head()

0   2018-08-27
1   2019-09-05
2   2019-10-17
3   2019-12-28
4   2021-02-17
Name: most_recent_load_date, dtype: datetime64[ns]

In [8]:
loads75 = df.loads.quantile(0.75)
most_recent_load_date75 = df.most_recent_load_date.quantile(0.75)

print(loads75)
print(most_recent_load_date75)
# Manual Check
# sorted_dts = sorted(list(df.most_recent_load_date))
# quartile_estimate_index = int(len(sorted_dts)*0.75)
# print("SORTED INDEX", sorted_dts[quartile_estimate_index])

2.0
2021-02-14 00:00:00

In [9]:
new_labels = {"label": {}}
for index, row in df.iterrows():
    if row["loads"] >= loads75 and row["most_recent_load_date"] >= most_recent_load_date75:
        df.at[index, "label"] = 1
    else:
        df.at[index, "label"] = 0

In [10]:
df["label"].describe()

count    83414.000000
mean         0.151389
std          0.358430
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: label, dtype: float64

# 2. Drop some columns

In [11]:
df = df.drop(columns=["loads", "most_recent_load_date"])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83414 entries, 0 to 83413
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TODO_FIND_COLUMN_NAME_1   83414 non-null  int64
 1   TODO_FIND_COLUMN_NAME_2   83414 non-null  int64
 2   dt                        83414 non-null  object
 3   weekday                   83414 non-null  int64
 4   year                      83414 non-null  int64
 5   id_driver                 83414 non-null  int64
 6   id_carrier_number         83414 non-null  object
 7   dim_carrier_type          83414 non-null  object
 8   dim_carrier_company_name  83367 non-null  object
 9   home_base_city            83370 non-null  object
 10  home_base_state           83370 non-null  object
 11  carrier_trucks            83414 non-null  object
 12  num_trucks                83344 non-null  float64
 13  interested_in_drayage     83414 non-null  object
 14  port_qualified            83414 non-null  object
 15  signup_source             83414 non-null  object
 16  ts_signup                 83414 non-null  object
 17  ts_first_approved         71128 non-null  object
 18  days_signup_to_approval   71128 non-null  float64
 19  driver_with_twic          83414 non-null  object
 20  dim_preferred_lanes       3413 non-null   object
 21  first_load_date           83414 non-null  object
 22  load_day                  83414 non-null  object
 23  marketplace_loads_otr     83414 non-null  int64
 24  marketplace_loads_atlas   83414 non-null  int64
 25  marketplace_loads         83414 non-null  int64
 26  brokerage_loads_otr       83414 non-null  int64
 27  brokerage_loads_atlas     83414 non-null  int64
 28  brokerage_loads           83414 non-null  int64
 29  total_loads               83414 non-null  int64
 30  date                      83414 non-null  object
 31  period                    83414 non-null  int64
 32  recent_date               83414 non-null  object
 33  test                      83414 non-null  int64
 34  label                     83414 non-null  int64
dtypes: float64(2), int64(15), object(18)
memory usage: 22.3+ MB

# 3. Basic Statistics

In [24]:
corr_matrix = df.corr()
for col_name in (list(df.columns.values)):
    try:
        print(col_name)
        display(corr_matrix[col_name].sort_values(ascending=False))
        print('---------------------------------------------------------------------')
    except:
        print("{} is not of type integer".format(col_name))
        print('---------------------------------------------------------------------')

TODO_FIND_COLUMN_NAME_1

TODO_FIND_COLUMN_NAME_1    1.000000
test                       0.008487
total_loads                0.006333
brokerage_loads_atlas      0.006226
year                       0.005173
brokerage_loads            0.004806
TODO_FIND_COLUMN_NAME_2    0.004687
brokerage_loads_otr        0.004148
marketplace_loads          0.004086
label                      0.004053
id_driver                  0.003574
marketplace_loads_atlas    0.003147
marketplace_loads_otr      0.002993
weekday                   -0.000234
num_trucks                -0.001336
period                    -0.002320
days_signup_to_approval   -0.006198
Name: TODO_FIND_COLUMN_NAME_1, dtype: float64

---------------------------------------------------------------------
TODO_FIND_COLUMN_NAME_2

TODO_FIND_COLUMN_NAME_2    1.000000
year                       0.952673
id_driver                  0.806792
test                       0.797429
label                      0.437907
brokerage_loads_atlas      0.326287
marketplace_loads_atlas    0.323367
marketplace_loads          0.287983
num_trucks                 0.127330
total_loads                0.114012
weekday                    0.057463
period                     0.033965
TODO_FIND_COLUMN_NAME_1    0.004687
marketplace_loads_otr     -0.012446
brokerage_loads           -0.038819
brokerage_loads_otr       -0.071771
days_signup_to_approval   -0.619662
Name: TODO_FIND_COLUMN_NAME_2, dtype: float64

---------------------------------------------------------------------
dt
dt is not of type integer
---------------------------------------------------------------------
weekday

weekday                    1.000000
period                     0.809551
TODO_FIND_COLUMN_NAME_2    0.057463
year                       0.055610
id_driver                  0.053393
test                       0.050116
brokerage_loads_atlas      0.008955
label                      0.007623
marketplace_loads_otr      0.004377
num_trucks                 0.001470
marketplace_loads          0.001357
TODO_FIND_COLUMN_NAME_1   -0.000234
marketplace_loads_atlas   -0.000493
total_loads               -0.017164
brokerage_loads           -0.020757
brokerage_loads_otr       -0.021558
days_signup_to_approval   -0.053005
Name: weekday, dtype: float64

---------------------------------------------------------------------
year

year                       1.000000
TODO_FIND_COLUMN_NAME_2    0.952673
test                       0.821140
id_driver                  0.784479
label                      0.394704
marketplace_loads_atlas    0.290073
brokerage_loads_atlas      0.274956
marketplace_loads          0.273890
total_loads                0.117035
num_trucks                 0.108146
weekday                    0.055610
period                     0.035109
marketplace_loads_otr      0.026589
TODO_FIND_COLUMN_NAME_1    0.005173
brokerage_loads           -0.027475
brokerage_loads_otr       -0.055271
days_signup_to_approval   -0.644627
Name: year, dtype: float64

---------------------------------------------------------------------
id_driver

id_driver                  1.000000
TODO_FIND_COLUMN_NAME_2    0.806792
year                       0.784479
test                       0.636926
label                      0.325040
brokerage_loads_atlas      0.280231
marketplace_loads_atlas    0.253327
marketplace_loads          0.191855
num_trucks                 0.143885
weekday                    0.053393
period                     0.032009
TODO_FIND_COLUMN_NAME_1    0.003574
total_loads               -0.073022
marketplace_loads_otr     -0.091652
brokerage_loads           -0.192208
brokerage_loads_otr       -0.219673
days_signup_to_approval   -0.796913
Name: id_driver, dtype: float64

---------------------------------------------------------------------
id_carrier_number
id_carrier_number is not of type integer
---------------------------------------------------------------------
dim_carrier_type
dim_carrier_type is not of type integer
---------------------------------------------------------------------
dim_carrier_company_name
dim_carrier_company_name is not of type integer
---------------------------------------------------------------------
home_base_city
home_base_city is not of type integer
---------------------------------------------------------------------
home_base_state
home_base_state is not of type integer
---------------------------------------------------------------------
carrier_trucks
carrier_trucks is not of type integer
---------------------------------------------------------------------
num_trucks

num_trucks                 1.000000
id_driver                  0.143885
TODO_FIND_COLUMN_NAME_2    0.127330
label                      0.115391
year                       0.108146
test                       0.092366
days_signup_to_approval    0.051251
weekday                    0.001470
TODO_FIND_COLUMN_NAME_1   -0.001336
period                    -0.015317
brokerage_loads_otr       -0.050238
brokerage_loads           -0.062842
total_loads               -0.114414
marketplace_loads_otr     -0.120234
brokerage_loads_atlas     -0.120770
marketplace_loads_atlas   -0.150238
marketplace_loads         -0.185737
Name: num_trucks, dtype: float64

---------------------------------------------------------------------
interested_in_drayage
interested_in_drayage is not of type integer
---------------------------------------------------------------------
port_qualified
port_qualified is not of type integer
---------------------------------------------------------------------
signup_source
signup_source is not of type integer
---------------------------------------------------------------------
ts_signup
ts_signup is not of type integer
---------------------------------------------------------------------
ts_first_approved
ts_first_approved is not of type integer
---------------------------------------------------------------------
days_signup_to_approval

days_signup_to_approval    1.000000
brokerage_loads_otr        0.133629
brokerage_loads            0.109760
marketplace_loads_otr      0.085119
num_trucks                 0.051251
total_loads               -0.004422
TODO_FIND_COLUMN_NAME_1   -0.006198
period                    -0.037622
weekday                   -0.053005
marketplace_loads         -0.159411
brokerage_loads_atlas     -0.188662
marketplace_loads_atlas   -0.213705
label                     -0.253444
test                      -0.506173
TODO_FIND_COLUMN_NAME_2   -0.619662
year                      -0.644627
id_driver                 -0.796913
Name: days_signup_to_approval, dtype: float64

---------------------------------------------------------------------
driver_with_twic
driver_with_twic is not of type integer
---------------------------------------------------------------------
dim_preferred_lanes
dim_preferred_lanes is not of type integer
---------------------------------------------------------------------
first_load_date
first_load_date is not of type integer
---------------------------------------------------------------------
load_day
load_day is not of type integer
---------------------------------------------------------------------
marketplace_loads_otr

marketplace_loads_otr      1.000000
marketplace_loads          0.422470
total_loads                0.180977
test                       0.169268
days_signup_to_approval    0.085119
year                       0.026589
marketplace_loads_atlas    0.011441
period                     0.005105
weekday                    0.004377
TODO_FIND_COLUMN_NAME_1    0.002993
TODO_FIND_COLUMN_NAME_2   -0.012446
brokerage_loads_otr       -0.013174
brokerage_loads           -0.019866
label                     -0.030935
brokerage_loads_atlas     -0.064830
id_driver                 -0.091652
num_trucks                -0.120234
Name: marketplace_loads_otr, dtype: float64

---------------------------------------------------------------------
marketplace_loads_atlas

marketplace_loads_atlas    1.000000
marketplace_loads          0.911151
brokerage_loads_atlas      0.409536
label                      0.404792
total_loads                0.360903
TODO_FIND_COLUMN_NAME_2    0.323367
test                       0.305477
year                       0.290073
id_driver                  0.253327
marketplace_loads_otr      0.011441
TODO_FIND_COLUMN_NAME_1    0.003147
weekday                   -0.000493
period                    -0.004086
brokerage_loads           -0.078238
brokerage_loads_otr       -0.119442
num_trucks                -0.150238
days_signup_to_approval   -0.213705
Name: marketplace_loads_atlas, dtype: float64

---------------------------------------------------------------------
marketplace_loads

marketplace_loads          1.000000
marketplace_loads_atlas    0.911151
marketplace_loads_otr      0.422470
total_loads                0.401716
label                      0.354169
test                       0.346651
brokerage_loads_atlas      0.344502
TODO_FIND_COLUMN_NAME_2    0.287983
year                       0.273890
id_driver                  0.191855
TODO_FIND_COLUMN_NAME_1    0.004086
weekday                    0.001357
period                    -0.001600
brokerage_loads           -0.079104
brokerage_loads_otr       -0.113695
days_signup_to_approval   -0.159411
num_trucks                -0.185737
Name: marketplace_loads, dtype: float64

---------------------------------------------------------------------
brokerage_loads_otr

brokerage_loads_otr        1.000000
brokerage_loads            0.994824
total_loads                0.859125
days_signup_to_approval    0.133629
label                      0.105394
test                       0.064358
TODO_FIND_COLUMN_NAME_1    0.004148
marketplace_loads_otr     -0.013174
period                    -0.014092
weekday                   -0.021558
num_trucks                -0.050238
year                      -0.055271
TODO_FIND_COLUMN_NAME_2   -0.071771
brokerage_loads_atlas     -0.102448
marketplace_loads         -0.113695
marketplace_loads_atlas   -0.119442
id_driver                 -0.219673
Name: brokerage_loads_otr, dtype: float64

---------------------------------------------------------------------
brokerage_loads_atlas

brokerage_loads_atlas      1.000000
marketplace_loads_atlas    0.409536
marketplace_loads          0.344502
TODO_FIND_COLUMN_NAME_2    0.326287
label                      0.320236
id_driver                  0.280231
year                       0.274956
test                       0.263353
total_loads                0.161382
weekday                    0.008955
TODO_FIND_COLUMN_NAME_1    0.006226
period                     0.002716
brokerage_loads           -0.000836
marketplace_loads_otr     -0.064830
brokerage_loads_otr       -0.102448
num_trucks                -0.120770
days_signup_to_approval   -0.188662
Name: brokerage_loads_atlas, dtype: float64

---------------------------------------------------------------------
brokerage_loads

brokerage_loads            1.000000
brokerage_loads_otr        0.994824
total_loads                0.880155
label                      0.138665
days_signup_to_approval    0.109760
test                       0.091601
TODO_FIND_COLUMN_NAME_1    0.004806
brokerage_loads_atlas     -0.000836
period                    -0.013889
marketplace_loads_otr     -0.019866
weekday                   -0.020757
year                      -0.027475
TODO_FIND_COLUMN_NAME_2   -0.038819
num_trucks                -0.062842
marketplace_loads_atlas   -0.078238
marketplace_loads         -0.079104
id_driver                 -0.192208
Name: brokerage_loads, dtype: float64

---------------------------------------------------------------------
total_loads

total_loads                1.000000
brokerage_loads            0.880155
brokerage_loads_otr        0.859125
marketplace_loads          0.401716
marketplace_loads_atlas    0.360903
label                      0.306941
test                       0.258779
marketplace_loads_otr      0.180977
brokerage_loads_atlas      0.161382
year                       0.117035
TODO_FIND_COLUMN_NAME_2    0.114012
TODO_FIND_COLUMN_NAME_1    0.006333
days_signup_to_approval   -0.004422
period                    -0.013193
weekday                   -0.017164
id_driver                 -0.073022
num_trucks                -0.114414
Name: total_loads, dtype: float64

---------------------------------------------------------------------
date
date is not of type integer
---------------------------------------------------------------------
period

period                     1.000000
weekday                    0.809551
year                       0.035109
TODO_FIND_COLUMN_NAME_2    0.033965
id_driver                  0.032009
test                       0.029367
marketplace_loads_otr      0.005105
brokerage_loads_atlas      0.002716
marketplace_loads         -0.001600
TODO_FIND_COLUMN_NAME_1   -0.002320
marketplace_loads_atlas   -0.004086
label                     -0.008951
total_loads               -0.013193
brokerage_loads           -0.013889
brokerage_loads_otr       -0.014092
num_trucks                -0.015317
days_signup_to_approval   -0.037622
Name: period, dtype: float64

---------------------------------------------------------------------
recent_date
recent_date is not of type integer
---------------------------------------------------------------------
test

test                       1.000000
year                       0.821140
TODO_FIND_COLUMN_NAME_2    0.797429
id_driver                  0.636926
label                      0.387200
marketplace_loads          0.346651
marketplace_loads_atlas    0.305477
brokerage_loads_atlas      0.263353
total_loads                0.258779
marketplace_loads_otr      0.169268
num_trucks                 0.092366
brokerage_loads            0.091601
brokerage_loads_otr        0.064358
weekday                    0.050116
period                     0.029367
TODO_FIND_COLUMN_NAME_1    0.008487
days_signup_to_approval   -0.506173
Name: test, dtype: float64

---------------------------------------------------------------------
label

label                      1.000000
TODO_FIND_COLUMN_NAME_2    0.437907
marketplace_loads_atlas    0.404792
year                       0.394704
test                       0.387200
marketplace_loads          0.354169
id_driver                  0.325040
brokerage_loads_atlas      0.320236
total_loads                0.306941
brokerage_loads            0.138665
num_trucks                 0.115391
brokerage_loads_otr        0.105394
weekday                    0.007623
TODO_FIND_COLUMN_NAME_1    0.004053
period                    -0.008951
marketplace_loads_otr     -0.030935
days_signup_to_approval   -0.253444
Name: label, dtype: float64

---------------------------------------------------------------------

It seems like weekday and period are highly correlated to each other and both don't have a significant impact on label, so we can drop them. 

Also year and TODO_FIND_COLUMN_NAME_2 and year are highly correlated and have a similar impact on label, so we could drop one? 

Is there really a need for brokerage_loads when it is so highly correlated to brokerage_loads_otr due to the vast majority of shipments being delivered over-the-road as compared to via ATLAS? 

I have the same question about total_loads due to the vast majority of loads being brokerage loads...

I'm not sure what period (is it the time taken for the shipment?) is but it is highly correlated with weekday.

I also don't know what test is but it is highly correlated with year.

What's the point of having both year and date?

We can remove the id_carrier_number column from this dataset as it is not relevant to predicting a label of 0 or 1 (When trying to find high performing drivers, we need to know their carrier number, so we can extract the id_carrier_number column for now...)

We could one-hot-encode sign-up source and see its effect on labels.

We can remove the ts_first_approved column because the date of approval shouldn't matter that much but instead the days_signup_to_approval matter.

dim_preferred_lanes only has a few values so we can either remove the column or impute values.

Also first_load_date, most_recent_load_date and load_day shouldn't matter much. Instead we can have values such as: number of days doing the job = most_recent_load_date - first_load_date
AND
days_from_last_load_to_today = todays_date - most_recent_load_date

There are also a couple other features we need to impute.

# 4. Trying Some Feature Crosses

In [27]:
df["location"] = list(zip(df["home_base_city"], df["home_base_state"]))
display(df["location"])

0        (City of Industry, CA)
1             (Los Angeles, CA)
2                 (Ontario, CA)
3              (Long Beach, CA)
4          (South El Monte, CA)
                  ...
83409             (Seattle, WA)
83410         (Los Angeles, CA)
83411           (La Puente, CA)
83412             (Phoenix, AZ)
83413             (Compton, CA)
Name: location, Length: 83414, dtype: object